h1{
    color: darkred;
    background-color: bisque;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 10px; 
}

h2{
    color: darkred;
}

#estg{
    background-color: lightgray;
    padding: 10px;
    border: 2px solid black;
}

.destaque{
    background-color: green;
}